{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section class="row">
            <div class="club-flag">
                <div class="col-6 flag-maroon">
                    <div class="action">
                        <a href="{% url 'products' %}" type="button" class="btn btn-lg white-btn"><i class="fas fa-shopping-bag d-block"></i>Shop Now!</a>
                    </div>
                </div>
                <div class="col-6 flag-white">
                    <div class="action">
                        <h3>Look the part, play the part!</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-sm-12 col-md-4">
                <h2 class="text-center">About</h2>
                <div class="logo-container">
                    <img class="h-100w w-100" src="{{ MEDIA_URL }}castletown-logo.jpeg" alt="club-logo">
                </div>
                
            </div>
            <div class="col-sm-12 col-md-8">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo libero facere! Odit quo tempora accusamus, ipsa iste vel iusto aliquid nesciunt tenetur consequatur similique, culpa veritatis vero quidem. Obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, illum! Suscipit a dolores reiciendis architecto velit error impedit ab eveniet similique maiores, nam dignissimos iure! Reprehenderit minus aliquid perspiciatis reiciendis?
                </p>
            </div>
        </section>
    </div>
{% endblock %}