{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section class="row">
            <div class="club-flag">
                <div class="col-6 flag-maroon">
                    <div class="action">
                        <a href="{% url 'products' %}" type="button" class="btn btn-lg white-btn"><i class="fas fa-shopping-bag d-block"></i>Shop Now!</a>
                    </div>
                </div>
                <div class="col-6 flag-white">
                    <div class="action">
                        <h3>Look the part, play the part!</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <h2 class="text-center">About</h2>
                <div class="logo-container">
                    <img class="h-100w w-100" src="{{ MEDIA_URL }}castletown-logo.jpeg" alt="club-logo">
                </div>
                
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="about-para text-left">
                    <p>
                        Castletown is the Gaelic Football arm of this club, while Liam Mellows participate in the hurling championship.
                    </p>
                    <p>
                        Records show that football was played around the area since 1887 when a team from Castletown went to play a football match in a field near the Kish. Later on in the 1920s era, the team from around the area was called the Lily Whites.The club became known as Castletown in the early 1930s. Castletown appeared in their first County Junior Final in 1949 but were beaten in a replay by Camross. They were also beaten in the final in 1953 by Taghmon, also in a replay. But in 1960 that was all put right when they beat Volunteers in a replay.
                    </p>
                    <p>

                        The Club has been very successful since then. They won the first Senior title in 1965 and went on to win ten titles, the last being 2010. The Club won four Premier Under 21 titles and a few Junior B titles and have underage titles in various grades.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}