{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>FAQs</h1>
                <hr>
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_faq' %}" class="btn btn-lg btn-light">Add FAQ</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for f in faq %}
                <div class="col-12 col-md-6">
                    <div class="card faq-card">
                        <div class="card-body bg-maroon">
                        <h2 class="card-title">{{ f.question }}</h2>
                        <p class="card-text">{{ f.answer }}</p>
                        {% if request.user.is_superuser %}
                            <a href="#" class="btn btn-lg edit">Edit</a>
                            <a href="#" class="btn btn-lg delete">Delete</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
