@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    --rich-black-fogra : #0B0909;
    --white:#FFFFFF;
    --maroon-web:#800000;

    --delete-red:#d60f22;
    --edit-grey:#8a8784;

    --transition: 0.5s;
    --border-radius: 5%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    color: var(--white);
    background-color: var(--rich-black-fogra);
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Buttons */

.white-btn,
.maroon-btn {
    border: 1px solid var(--rich-black-fogra);
    border-radius: var(--border-radius);
    min-width: 15rem;
    margin: 0 auto;
    margin-top: 15rem;
}

.white-btn {
    background-color: var(--white);
}

.maroon-btn {
    background-color: var(--maroon-web);
    color: var(--white);
}

/* headings */

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

h3 {
    font-style: italic;
}

/* index */

.club-flag {
    width: 100%;
    height: 60vh;
    border: 1px var(--maroon-web) solid;
    display: flex;
}

.flag-maroon {
    height: 100%;
    background-color: var(--maroon-web);
    position: relative;
}

.flag-white {
    height: 100%;
    background-color:var(--white);
    position: relative;
}


/* navbar */

header {
    background-color: var(--rich-black-fogra);
    color: var(--white);
}

.navbar-brand {
    font-size: 3rem;
    color: var(--white);
}

.navbar-brand:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.navbar-dark .navbar-brand {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    font-size: 3rem;
}

.navbar-dark .navbar-brand:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.dropdown-menu {
    background-color: var(--edit-grey);
}

.navbar {
    background-color: var(--rich-black-fogra);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    border-color: var(--white);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.search-bar input,
.search-bar .btn {
    font-size: 1.3rem;
}

.nav-item .dropdown-item {
    font-size: 1.6rem;
    color: var(--white);
}

.nav-item .dropdown-item:hover {
    background-color: var(--rich-black-fogra);
    font-size: 1.6rem;
    color: var(--maroon-web);
    transition: var(--transition);
}

/* social media */

.social-media {
    background-color: var(--rich-black-fogra);
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 1rem;
}

.social-media li a {
    color: var(--white);
}

.social-media li a i {
    font-size: 2.5rem;
}

/* footer */

footer {
    background-color: var(--rich-black-fogra);
    margin-top: auto;
    padding: 1rem, 0, 1rem ,0;
    border-top: 1px solid var(--white);
}

.address-line {
    display: block;
    color: #FFFFFF;
}

.contact {
    list-style: none;
    margin: 5px;
    padding-left: 0;
}

.contact li {
    display: block;
    padding: 5px;
    margin: 4px;
    font-size: 2rem;
}

.contact li a {
    color: var(--white);
    font-size: 100%;
}

.footer-contact {
    font-size: 100%;
    vertical-align: top;
    padding-right: 4px;
}

/* allauth-form-main-content */

.allauth-form-main-content {
    margin: 2rem, 0 , 2rem;
}

.allauth-form-main-content :nth-child(2) {
    font-size: 1.6rem;
}

.allauth-form-main-content a {
    color: var(--maroon-web);
    text-decoration: none;
}

.allauth-form-main-content a:hover {
    color: var(--white);
    text-decoration: underline;
    font-size: 2.1rem;
    transition: var(--transition);
}

.allauth-form-main-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-main-content input:not([type='checkbox']) {
    width: 100%;
}

.allauth-form-main-content button {
    background-color: var(--maroon-web);
    color: var(--white);
    border-radius: .5rem;
}

.allauth-form-main-content button:hover {
    background-color: var(--white);
    color: var(--maroon-web);
    transition: var(--transition);
}

/* ------  */

.products-container {
    margin-top: 2rem;
}

.card {
    color: #0B0909;
}

a.category-badge > span.badge:hover {
    background:var(--maroon-web) !important;
    color: var(--white)!important;
    font-size: 100%;
    transition: var(--transition);
}

.custom-select-lg {
    font-size: 1.3rem;
} 

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
