@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    --rich-black-fogra : #0B0909;
    --white:#FFFFFF;
    --maroon-web:#800000;

    --delete-red:#d60f22;
    --edit-grey:#8a8784;

    --transition: 0.5s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    color: #0B0909;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.club-flag {
    width: 100%;
    height: 60vh;
    border: 1px var(--maroon-web) solid;
    display: flex;
}

.flag-maroon {
    height: 100%;
    background-color: var(--maroon-web);
}

.flag-white {
    height: 100%;
    background-color:var(--white);
}