@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    --rich-black-fogra : #0B0909;
    --white:#FFFFFF;
    --maroon-web:#800000;

    --delete-red:#d60f22;
    --edit-grey:#8a8784;

    --transition: 0.5s;
    --border-radius: 5%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    color: var(--white);
    background-color: var(--rich-black-fogra);
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Buttons */

.white-btn,
.maroon-btn {
    border: 1px solid var(--rich-black-fogra);
    border-radius: var(--border-radius);
    min-width: 15rem;
    margin: 0 auto;
}

.white-btn {
    background-color: var(--white);
}

.maroon-btn {
    background-color: var(--maroon-web);
    color: var(--white);
}

/* headings */

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

h3,
h2 {
    text-transform: uppercase;
}

/* index */

.club-flag {
    width: 100%;
    height: 60vh;
    border: 1px var(--maroon-web) solid;
    display: flex;
}

.flag-maroon {
    height: 100%;
    background-color: var(--maroon-web);
    position: relative;
}

.flag-white {
    height: 100%;
    background-color:var(--white);
    position: relative;
}


/* navbar */

header {
    background-color: var(--rich-black-fogra);
    color: var(--white);
}

.navbar-brand {
    background-color: var(--maroon-web);
    font-size: 3rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 1rem;
    padding: .25rem;
    margin-top: 1rem;
}

.navbar-brand:hover {
    background-color: var(--white);
    color: var(--maroon-web);
    transition: var(--transition);
    border: 2px solid var(--maroon);
}

.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.dropdown-menu {
    background-color: var(--edit-grey);
}

.navbar {
    background-color: var(--rich-black-fogra);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    border-color: var(--white);
}

.navbar-dark .navbar-toggler,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--maroon-web);
    transition: var(--transition);
}

.search-bar input,
.search-bar .btn,
.form-control {
    font-size: 1.3rem;
}

.dropdown-item {
    font-size: 1.6rem;
    color: var(--white);
}

.dropdown-item:hover {
    background-color: var(--rich-black-fogra);
    font-size: 1.6rem;
    color: var(--maroon-web);
    transition: var(--transition);
}

/* social media */

.social-media {
    background-color: var(--rich-black-fogra);
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 1rem;
}

.social-media li a {
    color: var(--white);
}

.social-media li a i {
    font-size: 2.5rem;
}

/* footer */

footer {
    background-color: var(--rich-black-fogra);
    margin-top: auto;
    padding: 1rem, 0, 1rem ,0;
    border-top: 1px solid var(--white);
}

.address-line {
    display: block;
    color: #FFFFFF;
}

.contact {
    list-style: none;
    margin: 5px;
    padding-left: 0;
}

.contact li {
    display: block;
    padding: 5px;
    margin: 4px;
}

.contact li a {
    color: var(--white);
    font-size: 100%;
}

.footer-contact {
    font-size: 100%;
    vertical-align: top;
    padding-right: 4px;
}

/* allauth-form-main-content */

.allauth-form-main-content {
    margin: 2rem, 0 , 2rem;
}

.allauth-form-main-content a {
    color: var(--maroon-web);
    text-decoration: none;
    margin-bottom: 1rem;
}

.allauth-form-main-content a:hover {
    color: var(--white);
    text-decoration: underline;
    font-size: 1.7rem;
    transition: var(--transition);
}

.allauth-form-main-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-main-content input:not([type='checkbox']) {
    width: 80%;
}

.allauth-form-main-content button,
.allauth-form-main-content input[type='submit']
 {
    background-color: var(--maroon-web);
    color: var(--white);
    border-radius: .5rem;
    width: fit-content;
}

.allauth-form-main-content button:hover,
.allauth-form-main-content input[type='submit']:hover {
    background-color: var(--white);
    color: var(--maroon-web);
    transition: var(--transition);
}

.form-check-input {
    position: relative;
}

/* ------  */

.products-container {
    margin-top: 2rem;
}

.product-details-container {
    text-align: left;
}

.card {
    color: #0B0909;
}

a.category-badge > span.badge:hover {
    background:var(--maroon-web) !important;
    color: var(--white)!important;
    font-size: 100%;
    transition: var(--transition);
}

.custom-select-lg {
    font-size: 1.3rem;
} 

.custom-select {
    border: 1px solid var(--maroon-web);
}

.remove-item,
.update-link {
    cursor: pointer;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.toast{
    font-size: 1.3rem;
    color: var(--rich-black-fogra);
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-maroon{
    background-color: var(--maroon-web);
    color: var(--white);
}

.text-maroon {
    color: var(--maroon-web);
}

.text-maroon:active,
.text-maroon:hover,
.text-maroon:focus {
    color: var(--rich-black-fogra);
}

.edit {
    color: var(--edit-grey);
    text-decoration: underline;
}

.delete {
    color: var(--delete-red);
    text-decoration: underline;
}

.edit:active,
.edit:hover,
.edit:focus,
.delete:active,
.delete:hover,
.delete:focus {
    color: var(--maroon-web);
}

.products-container {
    margin-bottom: 2rem;
    background-color: var(--white);
    border-radius: .25rem;
    padding: 2rem;
}

.card {
    border: 1px solid var(--maroon-web);
}

.logo-container img {
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    height: 100%;
    width: 100%;
}

/* FAQ */

.faq-card {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 0.25rem;
    margin: 2rem;
}

.faq-card .card-body:hover {
    background-color: var(--rich-black-fogra);
}

.faq-card h2 {
    text-transform: none;
}

.faq-container {
    background-color: var(--white);
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.modal-body {
    background-color: var(--maroon-web);
    color: var(--white);
}

.modal-content {
    border: 1px solid var(--white);
    border-radius: 0.25rem;
    color: var(--white);
}

.modal-header,
.modal-footer {
    background-color: var(--rich-black-fogra);
    color: var(--white);
}

button.close {
    color: var(--white);
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0.25rem;
}

.action {
    background-color: #0b090950;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    top: 20%;
    margin: 2rem;
}

/* W3 Schools Back to top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    font-size: 2rem;
    border: 1px solid var(--white);
    outline: none;
    background-color: var(--maroon-web);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
}

#myBtn:hover {
background-color: var(--white);
border: 1px solid var(--maroon-web);
color: var(--rich-black-fogra);
}

#home-link {
    font-weight: bold;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }
    body {
        height: calc(100vh - 116px);
        font-size: 1.3rem;
    }
    .nav-link,
    .dropdown-item {
        font-size: 1.3rem;
    }
    #delivery-banner h3 {
        font-size: 1.3rem;
    }
    .flag-maroon a,
    .flag-white a {
        width: fit-content;
    }
}

@media (max-width: 425px) {
    .flag-maroon a,
    .flag-white a {
        min-width: min-content;
    }
}
