{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h1 class="mb-4">Product Management</h1>
                <h3 class="text-maroon">Edit a Product</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 text-left">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right mb-4">
                        <a class="btn btn-light btn-lg rounded" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-lg bg-maroon rounded" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
