<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Club Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="club-gear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Club Gear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="club-gear-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=socks">Socks</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=shorts">Shorts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=tops">Tops</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=jackets">Jackets</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=trousers">Trousers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=hats">Hats</a>
                <a href="{% url 'products' %}?category=socks,shorts,tops,jackets,tousers,hats" class="dropdown-item">All Gear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="equiment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equiment-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=balls">Balls</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=gloves">Gloves</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=mouthguards">Mouthguards</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=helmets">Helmets</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=bags">Bags</a>
                <a href="{% url 'products' %}?category=balls,gloves,mouthguards,helmets,bags" class="dropdown-item">All Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="other-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>  
            </div>
        </li>
    </ul>
</div>