{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Website for Frih GAA club where users can buy club products and membership"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block extra_css%}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- Local Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block core_js %}
        <!-- Bootstrap Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    {% endblock %}

    <title>Frih GAA</title>

</head>
<body>
    <header class="container-fluid fixed-top"></header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Frih GAA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Club Shop
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'products' %}">All Products</a><hr>
                        <a class="dropdown-item" href="{% url 'products' %}?category=socks">Socks</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=equipment">Equipment</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=shorts">Shorts</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=tops">Tops</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=jackets">Jackets</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'memberships' %}">Membership</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                    </div>
                </li>
            </ul>
            <form form-inline my-2 my-lg-0 method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input id="search-input" class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="form-control btn btn-light my-2 my-sm-0" type="submit">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </nav>

    <!-- Footer -->
    <div class="row">
        <div class="col-sm-12 justify-content-center">
            <ul class="social-media">
                <li>
                    <a href="https://www.facebook.com/yusuffrih" aria-label="Site Owner Facebook Link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/yusuffrih" aria-label="Site Owner Instagram Link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" aria-label="Site Owner Youtube Link" target="_blank"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/yusuffrih" aria-label="Site Owner LinkedIn Link" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center">
                    <ul class="contact">
                        <li>
                            <a href="mailto:yusuffrih@hotmail.com" aria-label="Contact Email Address" target="_blank">
                                <span class="footer-contact">yusuffrih@hotmail.com</span><i class="fas fa-envelope-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="tel:00355552536879" aria-label="Contact Phone Number" target="_blank">
                                <span class="footer-contact">05552536879</span><i class="fas fa-phone-square-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4 justify-content-center">
                    <p>
                        <span class="address-line">Frih GAA,</span>
                        <span class="address-line">Tomnahealy,</span>
                        <span class="address-line">Castletown,</span>
                        <span class="address-line">Co. Wexford</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% block postload_js %}
    {% endblock %}

</body>
</html>